### Importación de datos

In [17]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [9]:
def fechas(tienda_f):
    fecha_reciente = max(tienda_f["Fecha de Compra"])
    fecha_Antigua = min(tienda_f["Fecha de Compra"])
    return f"desde: {fecha_Antigua} a {fecha_reciente}"

#1. Análisis de facturación

In [16]:

def ingreso_total(tienda, num):
    lista_Precios = tienda["Precio"].tolist() 
    suma_tienda = sum(lista_Precios)
    print(f"ingresos estimados de la tienda {num} | {fechas(tienda)}: ${suma_tienda:.0f}")

ingresos_t1 = ingreso_total(tienda, 1)
ingresos_t2 = ingreso_total(tienda2, 2)
ingresos_t3 = ingreso_total(tienda3, 3)
ingresos_t4 = ingreso_total(tienda4, 4)

ingresos estimados de la tienda 1 | desde: 01/01/2020 a 31/12/2022: $1150880400
ingresos estimados de la tienda 2 | desde: 01/01/2020 a 31/12/2022: $1116343500
ingresos estimados de la tienda 3 | desde: 01/01/2020 a 31/12/2021: $1098019600
ingresos estimados de la tienda 4 | desde: 01/01/2020 a 31/12/2022: $1038375700

In [14]:
# aqui vamos a poner los graficos con los ingresos totales de cada tienda:

# 2. Ventas por categoría

In [41]:
def categoria_mas_vendida(tienda):
    return pd.DataFrame(tienda.groupby("Categoría del Producto").agg(Productos_vendidos = ('Producto', 'count'), Total=('Precio', 'sum'))).sort_values(by='Productos_vendidos', ascending=False)

In [43]:
#tienda 1
categoria_mas_vendida(tienda)

                         Productos_vendidos        Total
Categoría del Producto
Muebles                                 465  187633700.0
Electrónicos                            448  429493500.0
Juguetes                                324   17995700.0
Electrodomésticos                       312  363685200.0
Deportes y diversión                    284   39290000.0
Instrumentos musicales                  182   91299000.0
Libros                                  173    8784900.0
Artículos para el hogar                 171   12698400.0

In [44]:
#tienda 2
categoria_mas_vendida(tienda2)

                         Productos_vendidos        Total
Categoría del Producto
Muebles                                 442  176426300.0
Electrónicos                            422  410831100.0
Juguetes                                313   15945400.0
Electrodomésticos                       305  348567800.0
Deportes y diversión                    275   34744500.0
Instrumentos musicales                  224  104990300.0
Libros                                  197   10091200.0
Artículos para el hogar                 181   14746900.0

In [45]:
#tienda 3
categoria_mas_vendida(tienda3)

                         Productos_vendidos        Total
Categoría del Producto
Muebles                                 499  201072100.0
Electrónicos                            451  410775800.0
Juguetes                                315   19401100.0
Electrodomésticos                       278  329237900.0
Deportes y diversión                    277   35593100.0
Libros                                  185    9498700.0
Artículos para el hogar                 177   15060000.0
Instrumentos musicales                  177   77380900.0

In [46]:
#tienda 4
categoria_mas_vendida(tienda4)

                         Productos_vendidos        Total
Categoría del Producto
Muebles                                 480  192528900.0
Electrónicos                            451  409476100.0
Juguetes                                338   20262200.0
Deportes y diversión                    277   33350100.0
Electrodomésticos                       254  283260200.0
Artículos para el hogar                 201   15074500.0
Libros                                  187    9321300.0
Instrumentos musicales                  170   75102400.0

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda