### Importación de datos

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [6]:
def fechas(tienda_f):
    fecha_reciente = max(tienda_f["Fecha de Compra"])
    fecha_Antigua = min(tienda_f["Fecha de Compra"])
    return f"desde: {fecha_Antigua} a {fecha_reciente}"

# 1. Análisis de facturación

In [7]:

def ingreso_total(tienda, num):
    lista_Precios = tienda["Precio"].tolist() 
    suma_tienda = sum(lista_Precios)
    print(f"ingresos estimados de la tienda {num} | {fechas(tienda)}: ${suma_tienda:.0f}")

ingresos_t1 = ingreso_total(tienda, 1)
ingresos_t2 = ingreso_total(tienda2, 2)
ingresos_t3 = ingreso_total(tienda3, 3)
ingresos_t4 = ingreso_total(tienda4, 4)

ingresos estimados de la tienda 1 | desde: 01/01/2020 a 31/12/2022: $1150880400
ingresos estimados de la tienda 2 | desde: 01/01/2020 a 31/12/2022: $1116343500
ingresos estimados de la tienda 3 | desde: 01/01/2020 a 31/12/2021: $1098019600
ingresos estimados de la tienda 4 | desde: 01/01/2020 a 31/12/2022: $1038375700

In [ ]:
# aqui vamos a poner los graficos con los ingresos totales de cada tienda:

# 2. Ventas por categoría

In [ ]:
def categoria_mas_vendida(tienda):
    return pd.DataFrame(tienda.groupby("Categoría del Producto").agg(Productos_vendidos = ('Producto', 'count'), Total=('Precio', 'sum'))).sort_values(by='Productos_vendidos', ascending=False).reset_index()

In [ ]:
#tienda 1
categoria_mas_vendida(tienda)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 465  187633700.0
1             Electrónicos                 448  429493500.0
2                 Juguetes                 324   17995700.0
3        Electrodomésticos                 312  363685200.0
4     Deportes y diversión                 284   39290000.0
5   Instrumentos musicales                 182   91299000.0
6                   Libros                 173    8784900.0
7  Artículos para el hogar                 171   12698400.0

In [ ]:
#tienda 2
categoria_mas_vendida(tienda2)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 442  176426300.0
1             Electrónicos                 422  410831100.0
2                 Juguetes                 313   15945400.0
3        Electrodomésticos                 305  348567800.0
4     Deportes y diversión                 275   34744500.0
5   Instrumentos musicales                 224  104990300.0
6                   Libros                 197   10091200.0
7  Artículos para el hogar                 181   14746900.0

In [ ]:
#tienda 3
categoria_mas_vendida(tienda3)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 499  201072100.0
1             Electrónicos                 451  410775800.0
2                 Juguetes                 315   19401100.0
3        Electrodomésticos                 278  329237900.0
4     Deportes y diversión                 277   35593100.0
5                   Libros                 185    9498700.0
6  Artículos para el hogar                 177   15060000.0
7   Instrumentos musicales                 177   77380900.0

In [ ]:
#tienda 4
categoria_mas_vendida(tienda4)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 480  192528900.0
1             Electrónicos                 451  409476100.0
2                 Juguetes                 338   20262200.0
3     Deportes y diversión                 277   33350100.0
4        Electrodomésticos                 254  283260200.0
5  Artículos para el hogar                 201   15074500.0
6                   Libros                 187    9321300.0
7   Instrumentos musicales                 170   75102400.0

# 3. Calificación promedio de la tienda

In [1]:
def Calificacion_promedio(tienda):
    calificacion_prom_tiendas = tienda["Calificación"].mean()
    calificacion_tienda = pd.DataFrame(tienda.groupby("Producto").agg(Total_producto = ("Producto", "count"), calificacion_productos = ("Calificación", "mean"))).reset_index()
    calificacion_tienda["calificacion_productos"] = calificacion_tienda["calificacion_productos"].round(2)
    print(f"La calificacion total de la tienda es: {calificacion_prom_tiendas.round(2)}")
    return calificacion_tienda.head(10)

In [4]:
#promedio de calificacion de la tienda 1 y calificacion por productos
Calificacion_promedio(tienda)

La calificacion total de la tienda es: 3.98

                    Producto  Total_producto  calificacion_productos
0          Ajedrez de madera              49                    4.43
1                    Armario              60                    3.95
2          Asistente virtual              40                    4.08
3                Auriculares              50                    3.64
4  Auriculares con micrófono              33                    3.97
5        Balón de baloncesto              55                    3.87
6          Balón de voleibol              42                    4.07
7                    Batería              53                    4.19
8                  Bicicleta              54                    3.94
9    Bloques de construcción              56                    4.09

In [5]:
#promedio de calificacion de la tienda 2 y calificacion por productos
Calificacion_promedio(tienda2)

La calificacion total de la tienda es: 4.04

                    Producto  Total_producto  calificacion_productos
0          Ajedrez de madera              45                    4.11
1                    Armario              54                    3.89
2          Asistente virtual              38                    3.84
3                Auriculares              37                    3.84
4  Auriculares con micrófono              44                    3.89
5        Balón de baloncesto              42                    4.10
6          Balón de voleibol              46                    3.83
7                    Batería              61                    4.03
8                  Bicicleta              45                    4.53
9    Bloques de construcción              54                    4.28

In [6]:
#promedio de calificacion de la tienda 3 y calificacion por productos
Calificacion_promedio(tienda3)

La calificacion total de la tienda es: 4.05

                    Producto  Total_producto  calificacion_productos
0          Ajedrez de madera              47                    3.85
1                    Armario              49                    4.14
2          Asistente virtual              39                    3.69
3                Auriculares              43                    4.02
4  Auriculares con micrófono              39                    3.79
5        Balón de baloncesto              50                    4.00
6          Balón de voleibol              48                    3.73
7                    Batería              41                    3.98
8                  Bicicleta              52                    3.77
9    Bloques de construcción              35                    4.34

In [7]:
#promedio de calificacion de la tienda 4 y calificacion por productos
Calificacion_promedio(tienda4)

La calificacion total de la tienda es: 4.0

                    Producto  Total_producto  calificacion_productos
0          Ajedrez de madera              39                    4.00
1                    Armario              34                    4.24
2          Asistente virtual              50                    4.04
3                Auriculares              44                    4.32
4  Auriculares con micrófono              42                    3.98
5        Balón de baloncesto              50                    3.88
6          Balón de voleibol              48                    4.29
7                    Batería              48                    4.33
8                  Bicicleta              45                    3.89
9    Bloques de construcción              54                    3.81

# 4. Productos más y menos vendidos

In [13]:
def ventas_del_producto(tienda):
   ventas_por_producto = (tienda.groupby('Producto').agg(Ventas=('Producto', 'count')).reset_index())
   return ventas_por_producto

def producto_mas_vendidos(x):
   productos_mas_vendidos = x.sort_values(by='Ventas', ascending=False).head(10) #lista de los productos mas vendidos (Top 10)
   return productos_mas_vendidos

def producto_menos_vendidos(x):
   productos_menos_vendidos = x.sort_values(by='Ventas', ascending=True).head(10) #lista de los productos menos vendidos (Top 10)
   return productos_menos_vendidos

In [14]:
producto_mas_vendidos(ventas_del_producto(tienda)) #Resultado de la busqueda del top de productos mas vendidos(Tienda 1)

                   Producto  Ventas
1                   Armario      60
48            TV LED UHD 4K      60
33               Microondas      60
40         Secadora de ropa      58
32            Mesa de noche      56
9   Bloques de construcción      56
5       Balón de baloncesto      55
8                 Bicicleta      54
23                Impresora      54
50             Vaso térmico      54

In [36]:
producto_menos_vendidos(ventas_del_producto(tienda)) #Resultado de la busqueda del top de productos menos vendidos(Tienda 1)

                       Producto  Ventas
4     Auriculares con micrófono      33
13                 Celular ABXY      33
37              Olla de presión      35
38                    Pandereta      36
14  Ciencia de datos con Python      39
34                      Mochila      39
19               Dinosaurio Rex      40
2             Asistente virtual      40
36                  Muñeca bebé      40
31              Mesa de comedor      40

# 5. Envío promedio por tienda

In [11]:
def costo_envio(tienda):  
    prom_costo_total = tienda["Costo de envío"].mean()
    Costo_prom_envio = pd.DataFrame(tienda.groupby("Producto").agg(Total_producto = ("Producto", "count"), Costo_Envio_Promedio = ("Costo de envío", "mean"))).reset_index()
    Costo_prom_envio["Costo_Envio_Promedio"] = Costo_prom_envio["Costo_Envio_Promedio"].round(2)
    print(f"La calificacion total de la tienda es: {prom_costo_total.round(2)}")
    return Costo_prom_envio.head(10)

In [12]:
costo_envio(tienda)

La calificacion total de la tienda es: 26018.61

                    Producto  Total_producto  Costo_Envio_Promedio
0          Ajedrez de madera              49               1691.84
1                    Armario              60              26068.33
2          Asistente virtual              40              10620.00
3                Auriculares              50               5694.00
4  Auriculares con micrófono              33               8221.21
5        Balón de baloncesto              55               2560.00
6          Balón de voleibol              42               2440.48
7                    Batería              53              37956.60
8                  Bicicleta              54              26827.78
9    Bloques de construcción              56               1644.64

In [ ]:
ubicaciones = pd.DataFrame(tienda["Lugar de Compra"].unique())
ubicaciones

                0
0          Bogotá
1        Medellín
2       Cartagena
3            Cali
4     Santa Marta
5         Pereira
6    Barranquilla
7   Villavicencio
8         Inírida
9          Cúcuta
10      Manizales
11          Neiva
12    Bucaramanga
13     Valledupar
14          Pasto
15       Riohacha
16        Armenia
17        Leticia
18         Soacha