### Importación de datos

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [6]:
def fechas(tienda_f):
    fecha_reciente = max(tienda_f["Fecha de Compra"])
    fecha_Antigua = min(tienda_f["Fecha de Compra"])
    return f"desde: {fecha_Antigua} a {fecha_reciente}"

# 1. Análisis de facturación

In [7]:

def ingreso_total(tienda, num):
    lista_Precios = tienda["Precio"].tolist() 
    suma_tienda = sum(lista_Precios)
    print(f"ingresos estimados de la tienda {num} | {fechas(tienda)}: ${suma_tienda:.0f}")

ingresos_t1 = ingreso_total(tienda, 1)
ingresos_t2 = ingreso_total(tienda2, 2)
ingresos_t3 = ingreso_total(tienda3, 3)
ingresos_t4 = ingreso_total(tienda4, 4)

ingresos estimados de la tienda 1 | desde: 01/01/2020 a 31/12/2022: $1150880400
ingresos estimados de la tienda 2 | desde: 01/01/2020 a 31/12/2022: $1116343500
ingresos estimados de la tienda 3 | desde: 01/01/2020 a 31/12/2021: $1098019600
ingresos estimados de la tienda 4 | desde: 01/01/2020 a 31/12/2022: $1038375700

In [ ]:
# aqui vamos a poner los graficos con los ingresos totales de cada tienda:

# 2. Ventas por categoría

In [ ]:
def categoria_mas_vendida(tienda):
    return pd.DataFrame(tienda.groupby("Categoría del Producto").agg(Productos_vendidos = ('Producto', 'count'), Total=('Precio', 'sum'))).sort_values(by='Productos_vendidos', ascending=False).reset_index()

In [ ]:
#tienda 1
categoria_mas_vendida(tienda)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 465  187633700.0
1             Electrónicos                 448  429493500.0
2                 Juguetes                 324   17995700.0
3        Electrodomésticos                 312  363685200.0
4     Deportes y diversión                 284   39290000.0
5   Instrumentos musicales                 182   91299000.0
6                   Libros                 173    8784900.0
7  Artículos para el hogar                 171   12698400.0

In [ ]:
#tienda 2
categoria_mas_vendida(tienda2)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 442  176426300.0
1             Electrónicos                 422  410831100.0
2                 Juguetes                 313   15945400.0
3        Electrodomésticos                 305  348567800.0
4     Deportes y diversión                 275   34744500.0
5   Instrumentos musicales                 224  104990300.0
6                   Libros                 197   10091200.0
7  Artículos para el hogar                 181   14746900.0

In [ ]:
#tienda 3
categoria_mas_vendida(tienda3)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 499  201072100.0
1             Electrónicos                 451  410775800.0
2                 Juguetes                 315   19401100.0
3        Electrodomésticos                 278  329237900.0
4     Deportes y diversión                 277   35593100.0
5                   Libros                 185    9498700.0
6  Artículos para el hogar                 177   15060000.0
7   Instrumentos musicales                 177   77380900.0

In [ ]:
#tienda 4
categoria_mas_vendida(tienda4)

    Categoría del Producto  Productos_vendidos        Total
0                  Muebles                 480  192528900.0
1             Electrónicos                 451  409476100.0
2                 Juguetes                 338   20262200.0
3     Deportes y diversión                 277   33350100.0
4        Electrodomésticos                 254  283260200.0
5  Artículos para el hogar                 201   15074500.0
6                   Libros                 187    9321300.0
7   Instrumentos musicales                 170   75102400.0

# 3. Calificación promedio de la tienda

In [8]:
def Calificacion_promedio(tienda):
    calificacion_prom_tiendas = tienda["Calificación"].mean()
    calificacion_tienda = pd.DataFrame(tienda.groupby("Producto").agg(Total_producto = ("Producto", "count"), calificacion_productos = ("Calificación", "mean"))).reset_index()
    calificacion_tienda["calificacion_productos"] = calificacion_tienda["calificacion_productos"].round(2)
    print(f"La calificacion total de la tienda es: {calificacion_prom_tiendas.round(2)}")
    return calificacion_tienda

In [9]:
#promedio de calificacion de la tienda 1 y calificacion por productos
Calificacion_promedio(tienda)

La calificacion total de la tienda es: 3.98

                       Producto  Total_producto  calificacion_productos
0             Ajedrez de madera              49                    4.43
1                       Armario              60                    3.95
2             Asistente virtual              40                    4.08
3                   Auriculares              50                    3.64
4     Auriculares con micrófono              33                    3.97
5           Balón de baloncesto              55                    3.87
6             Balón de voleibol              42                    4.07
7                       Batería              53                    4.19
8                     Bicicleta              54                    3.94
9       Bloques de construcción              56                    4.09
10                     Cama box              44                    4.11
11                    Cama king              44                    3.77
12    Carrito de control remoto              52                    4.13
13                 Celular ABXY              33                    3.82
14  Ciencia de datos con Python              39                    4.10
15                   Cubertería              52                    4.23
16              Cubo mágico 8x8              44                    4.07
17           Cuerda para saltar              40                    3.62
18      Dashboards con Power BI              42                    3.95
19               Dinosaurio Rex              40                    3.78
20                       Estufa              45                    4.13
21            Guitarra acústica              46                    3.96
22           Guitarra eléctrica              47                    4.09
23                    Impresora              54                    4.17
24    Iniciando en programación              41                    4.29
25                    Iphone 15              49                    3.94
26                Juego de mesa              43                    3.98
27                Kit de bancas              44                    4.11
28             Lavadora de ropa              47                    4.13
29                 Lavavajillas              48                    4.02
30               Mesa de centro              44                    4.02
31              Mesa de comedor              40                    3.80
32                Mesa de noche              56                    3.80
33                   Microondas              60                    3.98
34                      Mochila              39                    3.97
35          Modelado predictivo              51                    3.65
36                  Muñeca bebé              40                    3.98
37              Olla de presión              35                    3.77
38                    Pandereta              36                    3.92
39                 Refrigerador              54                    4.02
40             Secadora de ropa              58                    3.95
41                 Set de ollas              43                    3.58
42                 Set de vasos              41                    3.29
43             Silla de oficina              46                    3.85
44                       Sillón              41                    4.07
45                     Smart TV              44                    4.00
46                   Smartwatch              43                    4.21
47              Sofá reclinable              46                    4.00
48                TV LED UHD 4K              60                    4.05
49                  Tablet ABXY              42                    4.14
50                 Vaso térmico              54                    3.89

In [10]:
#promedio de calificacion de la tienda 2 y calificacion por productos
Calificacion_promedio(tienda2)

La calificacion total de la tienda es: 4.04

                       Producto  Total_producto  calificacion_productos
0             Ajedrez de madera              45                    4.11
1                       Armario              54                    3.89
2             Asistente virtual              38                    3.84
3                   Auriculares              37                    3.84
4     Auriculares con micrófono              44                    3.89
5           Balón de baloncesto              42                    4.10
6             Balón de voleibol              46                    3.83
7                       Batería              61                    4.03
8                     Bicicleta              45                    4.53
9       Bloques de construcción              54                    4.28
10                     Cama box              47                    4.09
11                    Cama king              45                    4.44
12    Carrito de control remoto              47                    4.13
13                 Celular ABXY              41                    4.05
14  Ciencia de datos con Python              43                    3.84
15                   Cubertería              39                    3.62
16              Cubo mágico 8x8              45                    3.62
17           Cuerda para saltar              50                    4.04
18      Dashboards con Power BI              43                    4.00
19               Dinosaurio Rex              42                    4.33
20                       Estufa              42                    4.00
21            Guitarra acústica              58                    4.00
22           Guitarra eléctrica              47                    3.89
23                    Impresora              34                    4.44
24    Iniciando en programación              65                    4.00
25                    Iphone 15              55                    3.80
26                Juego de mesa              32                    3.97
27                Kit de bancas              45                    3.96
28             Lavadora de ropa              49                    3.73
29                 Lavavajillas              46                    4.11
30               Mesa de centro              45                    4.11
31              Mesa de comedor              34                    4.24
32                Mesa de noche              44                    4.00
33                   Microondas              62                    4.08
34                      Mochila              45                    4.27
35          Modelado predictivo              46                    3.93
36                  Muñeca bebé              48                    3.71
37              Olla de presión              44                    4.16
38                    Pandereta              58                    4.19
39                 Refrigerador              49                    4.22
40             Secadora de ropa              57                    4.25
41                 Set de ollas              52                    4.38
42                 Set de vasos              46                    4.02
43             Silla de oficina              49                    4.06
44                       Sillón              35                    4.20
45                     Smart TV              40                    3.98
46                   Smartwatch              44                    3.89
47              Sofá reclinable              44                    4.05
48                TV LED UHD 4K              45                    4.09
49                  Tablet ABXY              44                    4.02
50                 Vaso térmico              47                    3.66

In [11]:
#promedio de calificacion de la tienda 3 y calificacion por productos
Calificacion_promedio(tienda3)

La calificacion total de la tienda es: 4.05

                       Producto  Total_producto  calificacion_productos
0             Ajedrez de madera              47                    3.85
1                       Armario              49                    4.14
2             Asistente virtual              39                    3.69
3                   Auriculares              43                    4.02
4     Auriculares con micrófono              39                    3.79
5           Balón de baloncesto              50                    4.00
6             Balón de voleibol              48                    3.73
7                       Batería              41                    3.98
8                     Bicicleta              52                    3.77
9       Bloques de construcción              35                    4.34
10                     Cama box              46                    3.87
11                    Cama king              56                    4.04
12    Carrito de control remoto              52                    4.19
13                 Celular ABXY              44                    4.36
14  Ciencia de datos con Python              46                    4.02
15                   Cubertería              39                    3.87
16              Cubo mágico 8x8              44                    4.18
17           Cuerda para saltar              53                    3.91
18      Dashboards con Power BI              40                    4.35
19               Dinosaurio Rex              46                    4.09
20                       Estufa              53                    4.23
21            Guitarra acústica              47                    3.94
22           Guitarra eléctrica              38                    4.08
23                    Impresora              50                    4.36
24    Iniciando en programación              46                    4.07
25                    Iphone 15              46                    4.04
26                Juego de mesa              52                    4.54
27                Kit de bancas              57                    4.21
28             Lavadora de ropa              42                    3.93
29                 Lavavajillas              52                    3.85
30               Mesa de centro              42                    3.69
31              Mesa de comedor              56                    4.18
32                Mesa de noche              55                    4.25
33                   Microondas              36                    3.50
34                      Mochila              36                    3.94
35          Modelado predictivo              53                    3.83
36                  Muñeca bebé              39                    4.18
37              Olla de presión              47                    4.23
38                    Pandereta              51                    4.04
39                 Refrigerador              50                    4.42
40             Secadora de ropa              45                    3.98
41                 Set de ollas              55                    4.11
42                 Set de vasos              36                    4.03
43             Silla de oficina              46                    3.89
44                       Sillón              47                    4.32
45                     Smart TV              54                    3.85
46                   Smartwatch              46                    3.83
47              Sofá reclinable              45                    4.29
48                TV LED UHD 4K              42                    4.21
49                  Tablet ABXY              48                    3.67
50                 Vaso térmico              38                    4.39

In [12]:
#promedio de calificacion de la tienda 4 y calificacion por productos
Calificacion_promedio(tienda4)

La calificacion total de la tienda es: 4.0

                       Producto  Total_producto  calificacion_productos
0             Ajedrez de madera              39                    4.00
1                       Armario              34                    4.24
2             Asistente virtual              50                    4.04
3                   Auriculares              44                    4.32
4     Auriculares con micrófono              42                    3.98
5           Balón de baloncesto              50                    3.88
6             Balón de voleibol              48                    4.29
7                       Batería              48                    4.33
8                     Bicicleta              45                    3.89
9       Bloques de construcción              54                    3.81
10                     Cama box              62                    3.98
11                    Cama king              56                    3.86
12    Carrito de control remoto              55                    3.95
13                 Celular ABXY              39                    3.90
14  Ciencia de datos con Python              38                    3.84
15                   Cubertería              59                    3.98
16              Cubo mágico 8x8              47                    3.85
17           Cuerda para saltar              43                    4.28
18      Dashboards con Power BI              56                    4.02
19               Dinosaurio Rex              47                    4.00
20                       Estufa              47                    3.83
21            Guitarra acústica              37                    3.68
22           Guitarra eléctrica              33                    3.79
23                    Impresora              50                    4.06
24    Iniciando en programación              43                    4.26
25                    Iphone 15              48                    4.08
26                Juego de mesa              48                    4.25
27                Kit de bancas              42                    4.12
28             Lavadora de ropa              38                    4.00
29                 Lavavajillas              43                    3.86
30               Mesa de centro              44                    3.75
31              Mesa de comedor              55                    3.96
32                Mesa de noche              55                    4.15
33                   Microondas              48                    4.10
34                      Mochila              43                    3.84
35          Modelado predictivo              50                    4.04
36                  Muñeca bebé              48                    4.08
37              Olla de presión              46                    4.09
38                    Pandereta              52                    3.77
39                 Refrigerador              38                    3.95
40             Secadora de ropa              40                    3.82
41                 Set de ollas              50                    3.94
42                 Set de vasos              46                    4.04
43             Silla de oficina              40                    4.03
44                       Sillón              45                    4.11
45                     Smart TV              54                    4.04
46                   Smartwatch              39                    3.97
47              Sofá reclinable              47                    3.87
48                TV LED UHD 4K              40                    3.58
49                  Tablet ABXY              45                    4.02
50                 Vaso térmico              48                    4.15

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda